body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
   text-align:center
}

div.container {
  text-align: center;
}

ul.recipes,
ul.ingredients {
  display:inline-block;
  text-align: left;
}

ul.recipes {
  list-style-image: url("../images/lilchicken.png");
}
